
[*]

# Microsoft .NET properties
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:suggestion

# ReSharper properties
resharper_braces_for_ifelse=not_required
resharper_braces_redundant=false

# ReSharper inspection severities
resharper_arrange_missing_parentheses_highlighting=hint
resharper_enforce_if_statement_braces_highlighting=suggestion
